tabWidth: 4
singleQuote: true
trailingComma: es5
overrides:
    - files: '.goreleaser.yml'
      options:
          tabWidth: 2
    - files: '.github/**'
      options:
          tabWidth: 2
          singleQuote: false
